#cache-modal {
	background-color: var(--accent-2);

	padding: 3rem;
	border-radius: 1.5rem;

	max-width: 25rem;
}



#cache-header {
	font: 2rem Lato;
	font-weight: bold;

	text-align: center;

	margin: 1rem 0 2rem;
}

#cache-text {
	font-size: 1rem;

	text-align: center;

	word-wrap: normal;

	margin: 1.25rem 0;
}



#cache-button-container {
	display: flex;

	justify-content: space-around;

	margin-bottom: 1rem;
}

.cache-button {
	font-size: 1.25rem;
	font-weight: bold;

	padding: 1rem 3rem;
	border-radius: 1rem;

	background-color: var(--accent-5);
}

.cache-button:hover {
	background-color: var(--accent-7);
}

.cache-button:active {
	background-color: var(--accent-10);
}
