#input-input {
	background-color: transparent;
	border: none;

	font-size: 2rem;
	text-align: center;

	padding: 0;
}



#input-input::after {
	/* why does this refuse to work */
	/* https://codepen.io/elb96/pen/aXKXBx */


	content: "";

	position: absolute;
	bottom: 0;

	background-color: var(--text-color);

	width: 100%;

	height: 0.2rem;
}

