#input-container {
	position: relative;
	display: inline-block;
}



#input-label {
	font-size: 2rem;
	text-align: center;

	margin: 0 0 1.5rem 0;
}



#input-label-type {
	all: inherit;
	display: inline;
}



#input-percent {
	font-size: 4rem;
}



#input-input {
	position: relative;

	background-color: transparent;
	/* border: 1px solid red; */
	border: none;

	box-sizing: border-box;

	font-size: 4rem;
	text-align: center;

	padding: 0;

	width: 15rem;
}



#input-underline {
	position: absolute;
	display: inline-block;

	background-color: var(--text-color);
	opacity: 0.5;

	bottom: 0;

	left: 50%;

	width: 30%;
	height: 0.2rem;

	transition: width 200ms ease-in-out, opacity 200ms ease-in-out;

	transform: translateX(-50%);
}

#input-input:focus ~ #input-underline {
	width: 100%;
	opacity: 1;
}





#input-dimmer {
	position: absolute;
	top: 50%;
	left: 50%;

	width: 100vw;
	height: 100vh;

	transform: translate(-50%, -50%);

	background-color: #000;
	opacity: 0.5;

	pointer-events: none;
}

#input-modal.hide #input-dimmer {
	pointer-events: auto;
}
