#modals > div {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;

	z-index: 100;

	transition: visibility 300ms, opacity 300ms;
}



#modals > div.hide {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}
