#render-modal {
	pointer-events: none;
}



#render-label {
	margin: 0;
	font-size: 2rem;
}



#render-bar-container {
	background-color: var(--accent-3);
	border-radius: 0.5rem;

	width: 100%;
	min-height: 0.5rem;
}



#render-bar-progress {
	background-color: var(--accent-9);
	border-radius: inherit;

	width: 0;
	min-height: inherit;

	transition: width 50ms;
}
