#bottombar {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 2;

	background-color: var(--accent-2);
	height: 4rem;

	opacity: 1;

	width: calc(100% - calc(var(--sidebar-width) * 1%));
	transition: width var(--sidebar-transition), transform var(--sidebar-transition);

	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;
}



#sidebar:not(.show) ~ #bottombar {
	transform: translateY(100%);
}
