#seekbar-bar {
	/* this is overriden by style attribute */
	--value: 0%;

	width: 40%;
	min-height: 0.7rem;
	max-height: 0.7rem;

	border-radius: 0.7rem;

	background-color: var(--accent-6);
	position: relative;
}



#seekbar-progress {
	background-color: var(--accent-10);
	width: var(--value);

	border-radius: inherit;
	min-height: inherit;
}



#seekbar-grabber {
	background-color: var(--accent-10);
	border-radius: 50%;

	height: 180%;
	aspect-ratio: 1 / 1;

	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;

	left: var(--value);

	cursor: grab;

	transition: height 120ms ease-out;
}

#seekbar-grabber:hover {
	height: 200%;
}

#seekbar-grabber:active {
	cursor: grabbing;
	height: 250%;
}
