:root {
	--accent-0: #121212;
	--accent-1: #242424;
	--accent-2: #2a2a2a;
	--accent-3: #313131;
	--accent-4: #363636;
	--accent-5: #3b3b3b;
	--accent-6: #424242;
	--accent-7: #595959;
	--accent-8: #6c6c6c;
	--text-color: #eeeeee;

	--button-time: 150ms;

	--document-unit: calc(calc(2vh + 1vw) / 2);
}



body {
	margin: 0;
	height: 100vh;

	background-color: var(--accent-1);
}



input[type="text"] {
	outline: none;
	border: none;

	background-color: var(--accent-4);

	border-radius: 8px;
	padding: 8px;

	font-size: 16px;
}



button {
	border: none;

	background-color: var(--accent-4);
	transition: background-color var(--button-time);

	border-radius: 8px;
	padding: 8px;

	font-size: 16px;

	cursor: pointer;
}

button:hover {
	background-color: var(--accent-6);
}

button:active {
	background-color: var(--accent-7);
}
