:root {
	--accent-0: hsl(0, 0%, 7%);
	--accent-1: hsl(0, 0%, 14%);
	--accent-2: hsl(0, 0%, 16%);
	--accent-3: hsl(0, 0%, 19%);
	--accent-4: hsl(0, 0%, 21%);
	--accent-5: hsl(0, 0%, 23%);
	--accent-6: hsl(0, 0%, 26%);
	--accent-7: hsl(0, 0%, 30%);
	--accent-8: hsl(0, 0%, 35%);
	--accent-9: hsl(0, 0%, 42%);
	--accent-10: hsl(0, 0%, 51%);
	--accent-11: hsl(0, 0%, 62%);
	--text-color: #eeeeee;

	--button-time: 150ms;

	font-size: calc(calc(2vh + 1vw) / 2);
}



body {
	margin: 0;
	height: 100vh;

	background-color: var(--accent-1);
}



input[type="text"], input[type="number"] {
	outline: none;

	background-color: var(--accent-4);

	border-radius: 0.5rem;
	padding: 0.5rem;

	font-size: 1rem;
}



button {
	border: none;

	background-color: var(--accent-4);
	transition: background-color var(--button-time);

	border-radius: 0.5rem;
	padding: 0.5rem;

	font-size: 1rem;

	cursor: pointer;
}

button:hover {
	background-color: var(--accent-6);
}

button:active {
	background-color: var(--accent-7);
}



/* Utility classes */

.nowrap {
	white-space: nowrap;
}

.inline {
	display: inline;
	position: relative;
}
