#frequency-label {
	font-size: 1.1rem;
	margin-bottom: 0.2rem;
}



#computed-frequencies {
	font-size: 1rem;
	color: var(--accent-10);

	margin: 0 0 0.4rem 0;
}



#frequency-input {
	font-size: 1rem;

	width: 100%;

	box-sizing: border-box;
}
