#sidebar {
	--width: 18%;
	--grabber: 2.5%;

	--transition-time: 300ms;
	--transition-curve: cubic-bezier(0.8, 0.1, 0.25, 1);
	--transition: var(--transition-time) var(--transition-curve);

	--bg: var(--accent-2);
}



#sidebar {
	position: absolute;
	top: 0;

	width: var(--width);
	height: 100%;


	padding: var(--grabber);
	box-sizing: border-box;

	background-color: var(--bg);


	transition: right var(--transition), opacity var(--transition-time);
}



#sidebar:not(.show) {
	opacity: 0.7;
	right: calc(calc(-1 * var(--width)) + var(--grabber));
}

#sidebar:hover, #sidebar.show {
	cursor: pointer;
	opacity: 1;
}

#sidebar.show {
	cursor: default;
	right: 0;
}
