@import url(base.css);
@import url(fonts.css);

@import url(sidebar.css);



body {
	overflow: hidden;
}



button {
	z-index: 100;

	transition: opacity 150ms, background-color 150ms;

	font-size: 24px;
	padding: 16px;
	border-radius: 16px;
	font-weight: bold;

	border: 1px solid var(--accent-0);
}



input {
	display: none;
}



#canvas {
	position: absolute;

	width: 100%;
	height: 100%;
	margin: 0;
}
