#sidebar {
	/* why does css hate me so */
	/* https://stackoverflow.com/a/6433475 */
	overflow-x: visible;
	/* (remove this if possible) */
	overflow-y: clip;
}



#sidebar-chevron {
	position: absolute;
	top: 50%;
	left: 0;

	transform: translate(-150%, -50%);
	transform-origin: center;

	font-size: 3rem;

	transition: transform var(--sidebar-transition);


	cursor: pointer;
}



#sidebar.show #sidebar-chevron {
	transform: translate(-150%, -50%) rotate(180deg);
}
