.sidebar-header {
	font: bold 1.5rem Lato;

	text-align: center;

	margin: 2.5rem 0 1.5rem 0;
}



.sidebar-label {
	font-size: 1.1rem;
	margin: 0.8rem 0 0.4rem 0;
}

.sidebar-label + .sidebar-input {
	margin: -0.2rem 0 -0.1rem 0;
}



.sidebar-error {
	font-size: 1rem;
	color: var(--accent-11);

	margin: 0 0 0.4rem 0;
}

.sidebar-error + .sidebar-input {
	margin: -0.2rem 0 0 0;
}

