:root {
	--sidebar-width: 21.5;
	--sidebar-grabber: 2.5; /* relative to the entire body */

	--transition-time: 300ms;
	--transition-curve: cubic-bezier(0.8, 0.1, 0.25, 1);
	--sidebar-transition: var(--transition-time) var(--transition-curve);
}



#sidebar {
	--effective-grabber: calc(calc(calc(100% / var(--sidebar-width))) * var(--sidebar-grabber)); /* recalculate "of-the-sidebar" grabber */
	--bg: var(--accent-2);
}



#sidebar {
	display: flex;
	flex-direction: column;

	position: absolute;
	top: 0;
	right: 0;

	width: calc(var(--sidebar-width) * 1%);
	height: 100%;

	overflow-y: auto;
	z-index: 2;

	padding: min(calc(1% * var(--sidebar-grabber)), 5rem) calc(1% * var(--sidebar-grabber));
	box-sizing: border-box;

	background-color: var(--bg);

	transition: transform var(--sidebar-transition), opacity var(--transition-time);
}



#sidebar:not(.show) {
	opacity: 0.7;
	transform: translateX(calc(100% - var(--effective-grabber)));
}

#sidebar:hover, #sidebar.show {
	cursor: pointer;
	opacity: 1;
}

#sidebar.show {
	cursor: unset;
	transform: translateX(0);
}



#sidebar::-webkit-scrollbar {
	width: 0.6rem;
	background-color: var(--accent-4);
}



#sidebar::-webkit-scrollbar-thumb {
	border-radius: 1rem;
	background-color: var(--accent-7);
}

#sidebar::-webkit-scrollbar-thumb:hover {
	background-color: var(--accent-9);
}

#sidebar::-webkit-scrollbar-thumb:active {
	background-color: var(--accent-10);
}



.sidebar-header {
	display: block;
	margin: 2rem 0 2rem 0;

	font: bold 1.4rem Lato;
	text-align: center;
}

