#sidebar {
	--width: 20;

	--grabber: 2.5; /* this used to be of the sidebar but I think it's become of the body... no idea */

	--effective-grabber: calc(calc(calc(100% / var(--width))) * var(--grabber)); /* recalculate "of-the-sidebar" grabber */

	--transition-time: 300ms;
	--transition-curve: cubic-bezier(0.8, 0.1, 0.25, 1);
	--transition: var(--transition-time) var(--transition-curve);

	--bg: var(--accent-2);
}



#sidebar {
	position: absolute;
	top: 0;

	width: calc(var(--width) * 1%);
	height: 100%;


	padding: calc(1% * var(--grabber));
	box-sizing: border-box;

	background-color: var(--bg);


	right: 0;

	transition: transform var(--transition), opacity var(--transition-time);

	overflow-y: auto;
}



#sidebar:not(.show) {
	opacity: 0.7;
	transform: translateX(calc(100% - var(--effective-grabber)));
}

#sidebar:hover, #sidebar.show {
	cursor: pointer;
	opacity: 1;
}

#sidebar.show {
	cursor: unset;
	transform: translateX(0);
}



#sidebar::-webkit-scrollbar {
	width: 0.6rem;
	background-color: var(--accent-4);
}



#sidebar::-webkit-scrollbar-thumb {
	border-radius: 1rem;
	background-color: var(--accent-7);
}

#sidebar::-webkit-scrollbar-thumb:hover {
	background-color: var(--accent-9);
}

#sidebar::-webkit-scrollbar-thumb:active {
	background-color: var(--accent-10);
}



.sidebar-header {
	font: bold 1.4rem Lato;

	text-align: center;

	margin: 2rem 0 2rem 0;
}

