#upload-button {
	padding: 1.5rem 3rem;
	width: 100%;

	border: 1px solid var(--accent-1);
	border-radius: 1.2rem;
	box-sizing: border-box;
	margin: 0 0 2rem 0;

	font-size: 1.8rem;
	font-weight: bold;
	text-align: center;

	background-color: var(--accent-5);

	transition: background-color var(--button-time);
}



#upload-button:hover {
	background-color: var(--accent-6);
}

#upload-button:active {
	background-color: var(--accent-8);
}



#file-input {
	display: none;
}
